<div class="container">
  <div class="columns is-centered">
<div class="columns">

  <div class="column">
  <figure class="image is-128x128">
    <%= link_to image_tag("food_icon.png", class: 'is-rounded'), "/services/1?service[service_type]=Kitchen" %>
  </figure>
  </div>
  <div class="column">
    <figure class="image is-128x128">
    <%= link_to image_tag("bath_icon.png", class: 'is-rounded'), "/services/1?service[service_type]=Hygeine" %>
    </figure>
  </div>
  <div class="column">
    <figure class="image is-128x128">
    <%= link_to image_tag("bed_icon.png", class: 'is-rounded'), "/services/1?service[service_type]=Shelter" %>
  </figure>
  </div>
</div>
</div>
</div>