
<center><%= render "/layouts/welcome" %></center>

<div class='middle'><center><br>
<h2>WELCOME</h2>
<%= @user.username.upcase %>
<h2>PLEASE SELECT FROM <%= link_to "SERVICES","/services"%></h2>
<br>
<%= image_tag "hands.png", style: 'height:400px;width:auto;text-align: center' %>
</center><br>


</div>




