<center>
<div class="columns">
<%@facility_ids.each do |id|%>
<div class="column">
  <%= link_to Facility.find(id).name, Facility.find(id) %>
  <%= Facility.find(id).address %><br>
  <%= Facility.find(id).map_link.html_safe %>
</div>
<%end %>
</div>
	<h1><%=link_to "BACK", :back%></h1></center>