
<!-- 
<div class='header'>
	<br>
<section>
  <%= link_to image_tag("bath_icon.png", class: 'image-size'), service_path(:service => {:service_type => 'Hygeine'})%><br> <h1>Hygeine Services</h1>
</section>


<section>
  <code><%= link_to image_tag("bed_icon.png", class: 'image-size'), service_path(:service => {:service_type => 'Shelter'})%><br> <h1>Shelter Services</h1></code>
</section>

<section>
  <code><%= link_to image_tag("food_icon.png", class: 'image-size'), service_path(:service => {:service_type => 'Kitchen'})%><br> <h1>Food Services</h1></code>
</section>
</div>
 -->