<div class='header'>

</div>



<div class="middle">
<section>
  <code><%= link_to image_tag("bath_icon.png", class: 'image-size'), services_path%><br> Hygeine Services</code>
</section>

<section>
  <code><%= link_to image_tag("bed_icon.png", class: 'image-size'), services_path%><br> Shelter Services</code>
</section>

<section>
  <code><%= link_to image_tag("food_icon.png", class: 'image-size'), services_path%><br> Food Services</code>
</section>
</div>

